.wraper {
  min-height: 100%;
}
.container {
  max-width: 1384px;
  overflow: hidden;
}
.head {
  background: rgba(105, 105, 105, 0.32);
  backdrop-filter: blur(83px);
  /* Note: backdrop-filter has minimal browser support */
}
.head__row {
  display: flex;
  justify-content: space-between;
}
.head__title {
  width: 218px;
  height: 37px;
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.08em;

  color: #ffffff;
}
.head__list li {
  display: inline-block;
}
.head__input {
  border-radius: 55px;
  position: relative;
  right: 30px;
}
.head__images {
  /* position: absolute; */
  left: 1300px;
  padding-right: 10px;
}
.put {
  border-radius: 55px;
  padding-right: 30px;
}
.head__list a {
  text-decoration: none;
  padding-right: 30px;
  color: white;
}
.nav__row {
  display: flex;
}
.nav__body {
}
.nav__title {
  width: 461px;
  height: 151px;
  padding-top: 10px;
  padding-left: 50px;

  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 151px;

  letter-spacing: 0.08em;

  color: #ffffff;
}
.nav__text {
  width: 380px;
  height: 87px;
  padding-left: 70px;
  padding-top: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}
.nav__block {
  width: 302px;
  height: 650px;

  background: #000000;
  box-shadow: 120px 0px 24px 318px #000000;
}
.nav__images {
  width: 1823px;
  height: 782px;
  left: 476px;
  top: 14px;

  background: linear-gradient(
      90.9deg,
      rgba(0, 0, 0, 0.63) 0.77%,
      rgba(0, 0, 0, 0) 65.53%
    ),
    url(.jpg);
}
